.app {
    background: lightblue;   
    max-width: 414px;
    min-width: 375px;
    min-height: 667px;
    max-height: 812px;     
   
    overflow: overlay;
    background: #fff;

    &::-webkit-scrollbar {
      
        width: 6px;
                 
    }

    &::-webkit-scrollbar-thumb {                            
        background: lightgray;
        background: transparent;
        border-radius: 10px;

        &:hover {
            
            background: rgb(121, 120, 120);
        }

        &:active {
            background: rgb(121, 120, 120);
        }
    }    

}