@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
$primaryColor: #f84971;
$secondaryColor: #27c7dc;
$green: #28b56d;
$yellow: #ffcc00;
$grey: #c4c4c4;


body {
  
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;    
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid rgb(0, 0, 0);
  // background: #000000;  
  
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

a{
  text-decoration: none;
}
